services:
  postgres:
    container_name: postgres-shorto
    image: postgres:17
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - shorto_postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"


volumes:
  shorto_postgres_data: